* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

.header {
    background-color: white;
    width: 100%;
    height: 192px;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-top: 8px;
    margin-right: 27px;
    margin-left: 4px;
}

.header-principal {
    display: flex;
    position: absolute;
    width: 993px;
    height: 129px;
    top: 34px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
}

.div-search-cadastro {
    display: flex;
    width: 709px;
    position: relative;
}

.search {
    display: flex;
    position: absolute;
    background-color: #F5F5F5;
    width: 559px;
    height: 60px;
    border-radius: 8px;
}

.input-search {
    display: flex;
    position: absolute;
    width: 200px;
    height: 28px;
    top: 16px;
    left: 24px;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;
    background-color: transparent;
    border-color: transparent;
}



.icon-search {
    position: absolute;
    left: 519px;
    width: 24px;
    height: 24px;
    margin-top: 18px;
}

.ioiosearch {
    font-size: 22px;
    color: #CCCCCC;
}

.button-cadastro {
    position: absolute;
    top: 16px;
    left: 607px;
    width: 105px;
    height: 28px;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-decoration: underline;
}

.menu {
    display: flex;
    margin-top: 100px;
    width: 423px;
}

.menu a {
    text-decoration: none;
}

.menu a.active-link {
    color: #ec4899; /* Cor do link ativo */
    border-bottom: 2px solid #ec4899; /* Linha horizontal abaixo do link ativo */
  }

.home {
    position: absolute;
    width: 49px;
    height: 27px;
    left: 0;
    gap: 0px;
    opacity: 0px;
}

.produto {
    position: absolute;
    width: 74px;
    height: 28px;
    left: 81px;
    gap: 0px;
    opacity: 0px;
}

.categoria {
    position: absolute;
    width: 89px;
    height: 28px;
    left: 187px;
    gap: 0px;
    opacity: 0px;
}

.pedidos {
    position: absolute;
    width: 115px;
    height: 28px;
    left: 308px;
    gap: 0px;
    opacity: 0px;
}

.div-primary-button {
    display: flex;
    position: relative;
    top: 40px;
    left: 1123px;
}

.primary-button {
    background-color: #C92071;
    font-size: 14px;
    font-weight: 700;
    color: white;
    width: 114px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.group53 {
    position: absolute;
    display: flex;
    width: 33px;
    height: 29px;
    top: 47px;
    left: 1307px;
    gap: 0px;
    opacity: 0px;
}

.carrinho {
    width: 24px;
    height: 24px;
    top: 52px;
    left: 1307px;
    gap: 0px;
    opacity: 0px;
}

.elipse {
    position: absolute;
    width: 17px;
    height: 17px;
    top: -6px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: #EE4266;
    line-height: 18px;
    letter-spacing: 0.5px;
    border-radius: 60%;
    gap: 0px;
    opacity: 0px;
}

footer {
    background-color: #1F1F1F;
    color: white;
    width: 100%;
    height: 454px;
    display: flex;
}

.logofooter {
    position: relative;
    width: 253px;
    height: 44px;
    top: 72px;
    left: 104px;
    gap: 0px;
    opacity: 0px;
}

.lorem {
    position: absolute;
    width: 307px;
    height: 78px;
    margin-top: 151px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    
}

.redes {
    position: absolute;
    width: 124.12px;
    height: 20.53px;
    margin-top: 269px;
    left: 100px;
    display: flex;
    justify-content: space-between;
}

.div_informacao {
    position: absolute;
    width: 150px;
    height: 278px;
    margin-top: 72px;
    left: 612px;
}

.div_categoria {
    position: absolute;
    width: 96px;
    height: 240px;
    margin-top: 72px;
    left: 849px;
}

.div_contato {
    position: absolute;
    width: 233px;
    height: 168px;
    margin-top: 72px;
    left: 1113px;
}

.p_contato {
    width: 71px;
    height: 22px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
}

.end {
    position: absolute;
    margin-top: 22px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;

}

.tel {
    position: absolute;
    margin-top: 120px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
}

.linha {
    position: absolute;
    width: 1240px;
    height: 1px;
    margin-top: 384px;
    left: 100px;
    background-color: #666666;
    opacity: 0.3px;
}

.copy {
    position: absolute;
    width: 140px;
    height: 24px;
    margin-top: 408px;
    left: 618px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}